.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 32px;
  }

  &__control {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    width: 100%;
    max-width: 310px;
    font-size: 13px;
    border: 2px solid var(--color-secondary-light);
    border-radius: 32px;
    background-color: transparent;

    &:focus {
      background-color: var(--color-secondary-light);
      border-color: var(--color-secondary-light);
      outline: none;
    }

    &::placeholder {
      color: var(--color-brand);
      font-size: 13px;
    }
  }
}
