.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 96px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--color-secondary-light);
    border-radius: 50%;

    &--active {
      background-color: var(--color-primary-light);
    }
  }
}
